.anime-item {
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  }
}

.anime-box {
  .description-box {
    a:hover {
      color: #3864a8;
      text-decoration: none;
    }
  }
}
